{% extends 'base.html' %}

{% block title %} Recipe details {% endblock %}

{%  block content %}
    <div class="card">
        <h1 class="mx-auto"> {{ recipe.name }}</h1>
        <p class="mx-auto">( {{ recipe.portions }} portion{{ recipe.portions|pluralize }} )</p>
        {% if recipe.link %}
            <p>Link to full recipe: <a class="link" href="{{ recipe.link }}">Click!</a></p>
        {% endif %}
        <h3>Description:</h3>
        <p>{{ recipe.description }}</p>
        <h3>Ingredients:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr style="background-color: #F8F0E5">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.get_formatted_quantity }}</td>
                            <td>{{ ingredient.unit }}</td>
                            <td>{{ ingredient.category }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <div class="text-center" >
        <a class="btn btn-primary" href="{% url 'recipe-update' recipe_id=recipe.id %}">Update recipe</a>
        <form method="POST" action="{% url 'recipe-delete' pk=recipe.id %}" style="display: inline-block;">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Delete">
        </form>
        <a class="btn btn-primary" href="{% url 'recipe-list' %}">Back</a>
    </div>
    </div>
{% endblock %}