{% extends 'base.html' %}

{% block title %} Recipe list {% endblock %}

{%  block content %}
    <div>
        {% if not recipes %}
            You don't have any recipes yet.
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipe</th>
                        <th>No. of ingredients</th>
                        <th>Portions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ recipe.name }}</td>
                            <td>{{ recipe.no_of_ingredients }}</td>
                            <td>{{ recipe.portions }}</td>
                            <td>
                                <a href="{% url 'recipe-details' recipe_id=recipe.id %}">View</a>
                                <form method="POST" action="{% url 'recipe-delete' pk=recipe.id %}">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <a href="{% url 'recipe-create' %}">Add recipe</a>
    </div>
{% endblock %}