{% extends 'base.html' %}

{% block title %} Recipe-based shopping list {% endblock %}

{%  block content %}
    <div class="card" style="text-align: center;">
        <h2 style="text-align: center;">Welcome to Recipe-based shopping list!</h2>
        <p style="text-align: center;">Create shopping lists based on recipes you want to cook!</p>
        <br>
        <h3 style="text-align: center;">Key Features</h3>
        <hr>
        <h5>Effortless Recipe Management</h5>
        <p>Effortlessly add, customize or remove your favorite recipes.
            The dynamic ingredient management system ensures your recipes are always up-to-date.</p>
        <h5>Independently Managed Ingredients</h5>
        <p>Keep frequently purchased ingredients organized and accessible. Create, update or delete items whenever you need to.
            No more forgetting crucial ingredients!</p>
        <h5>Smart Shopping Lists</h5>
        <p>Craft shopping lists by selecting recipes from your personal cookbook and adding items from your independent ingredient list.
            As you shop, simply check off purchased items for a stress-free experience.</p>
        <h5>Comprehensive List Display</h5>
        <p>Gain quick access to your shopping lists, recipes and ingredient lists, all with detailed information at your fingertips.</p>
    </div>
{%  endblock %}