{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{%  block content %}
<div class="jumbotron">
    <p>
        You have <b>{{ no_of_shopping_lists }}</b> active shopping list{{ no_of_shopping_lists|pluralize }} right now.
    </p>
    <a class="btn btn-primary" href="{% url 'shoppinglist-list' %}" role="button">View all lists</a>
    <a class="btn btn-primary" href="{% url 'shoppinglist-create' %}" role="button">Create new list</a>
</div>
<div class="jumbotron">
    <p>
        You have <b>{{ no_of_recipes }}</b> recipe{{ no_of_recipes|pluralize }} in your cooking book.
    </p>
    <a class="btn btn-primary" href="{% url 'recipe-list' %}" role="button">View cooking book</a>
    <a class="btn btn-primary" href="{% url 'recipe-create' %}" role="button">Add new recipe</a>
</div>
<div class="jumbotron">
    <p>
        You have <b>{{ no_of_ingredients }}</b> different frequently purchased ingredient{{ no_of_ingredients|pluralize }} in your database.
    </p>
    <a class="btn btn-primary" href="{% url 'ingredient-list' %}" role="button">View all ingredients</a>
    <a class="btn btn-primary" href="{% url 'ingredient-create' %}" role="button">Add new ingredient</a>
</div>
{% endblock %}