{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{%  block content %}
<div>
    <p>
        You have {{ no_of_shopping_lists }} active shopping lists right now.
    </p>
    <a href="">View all lists</a>
    <a href="">Create new list</a>
</div>
<div>
    <p>
        You have {{ no_of_recipes }} recipes in your cooking book.
    </p>
    <a href="{% url 'recipe-list' %}">View cooking book</a>
    <a href="{% url 'add-recipe' %}">Add new recipe</a>
</div>
<div>
    <p>
        You have {{ no_of_ingredients }} different ingredients in your database.
    </p>
    <a href="">View all ingredients</a>
    <a href="">Add new ingredient</a>
</div>
{% endblock %}