{% extends 'base.html' %}

{% block title %} Independent ingredient list {% endblock %}

{%  block content %}
    <div>
        {% if not ingredients %}
            You don't have any independent ingredients yet.
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.quantity }}</td>
                            <td>{{ ingredient.unit }}</td>
                            <td>{{ ingredient.category }}</td>
                            <td>
                                <a href="{% url 'ingredient-update' ingredient_id=ingredient.id %}">Edit</a>
                                <a href="{% url 'ingredient-delete' ingredient_id=ingredient.id%}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <a href="{% url 'ingredient-create' %}">Add ingredient</a>
    </div>
{% endblock %}