{% extends 'base.html' %}

{% block title %} Update recipe {% endblock %}

{% block content %}
    <h1> Update recipe</h1>
    <form id="form-container" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Ingredients</h2>
        <div id="ingredient-form-container">
            {{ ingredient_formset.management_form }}
            {% for form in ingredient_formset %}
                <div class="ingredient-form">
                    {{ form.as_table }}
                <button id="remove-form" type="button">Remove ingredient</button>
                </div>
            {% endfor %}
            <button id="add-form" type="button">Add another ingredient</button>
        </div>
        <input type="submit" value="Update recipe">
    </form>


    <script>
        let ingredientForm = document.querySelectorAll(".ingredient-form");
        let container = document.querySelector("#ingredient-form-container");

        let addButton = document.querySelector("#add-form");
        let removeButtons = document.querySelectorAll("#remove-form");

        let totalForms = document.querySelector("#id_ingredients-TOTAL_FORMS");

        let formNum = ingredientForm.length - 1;

        let deleteCheckboxToHide = document.querySelectorAll('[id^="id_ingredients-"][id$="-DELETE"]');
        let deleteLabelToHide = document.querySelectorAll('label[for$="-DELETE"]');
        for (let i=0; i<formNum + 1; i++) {
            deleteCheckboxToHide[i].style.display = 'none'
            deleteLabelToHide[i].style.display = 'none'

        }

        addButton.addEventListener("click", function(e) {
            e.preventDefault();
            let newForm;

            for (let i=0; i < formNum + 1; i++) {
                if (ingredientForm[i].style.display != "none") {
                    newForm = ingredientForm[i].cloneNode(true);
                    break;
                }
            }

            let formRegex = RegExp(`id_ingredients-(\\d){1}-`,"g");
            let formRegex2 = RegExp(`ingredients-(\\d){1}-`,"g");

            formNum++;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `id_ingredients-${formNum}-`);
            newForm.innerHTML = newForm.innerHTML.replace(formRegex2, `ingredients-${formNum}-`);
            container.insertBefore(newForm, addButton);

            totalForms.setAttribute("value", `${formNum + 1}`);
        })

        removeButtons.forEach(button => {
            button.addEventListener("click", function() {
                let ingredientContainer = this.closest(".ingredient-form");
                let deleteCheckbox = ingredientContainer.querySelector('[id^="id_ingredients-"][id$="-DELETE"]');
                deleteCheckbox.checked = true;
                ingredientContainer.style.display = "none";
            })
        })
    </script>
{% endblock %}
