{% extends 'base.html' %}

{% block title %} Shopping list details {% endblock %}

{%  block content %}
    <style>
        .active {
            text-decoration: none;
        }

        .bought {
            text-decoration: line-through;
        }
    </style>

    <div>
        <h1> {{ shopping_list.name }}</h1>
        <p>( {{ shopping_list.creation_date|date:"d.m.Y" }} )</p>
        <h3>Ingredients:</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Category</th>
                        <th>Bought</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Recipes ingredients</td>
                    </tr>
                    {% for ingredient in ingredient_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.get_formatted_quantity }}</td>
                            <td>{{ ingredient.unit }}</td>
                            <td>{{ ingredient.category }}</td>
                            <td>
                                <button class="ingredient-bought" type="button">X</button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Other ingredients</td>
                    </tr>
                    {% for independent_ingredient in independent_ingredients %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ independent_ingredient.name }}</td>
                            <td>{{ independent_ingredient.get_formatted_quantity }}</td>
                            <td>{{ independent_ingredient.unit }}</td>
                            <td>{{ independent_ingredient.category }}</td>
                            <td>
                                <button class="ingredient-bought" type="button">X</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <form method="POST" action="{% url 'shoppinglist-delete' pk=shopping_list.id %}">
            {% csrf_token %}
            <input type="submit" value="Delete shopping list">
        </form>
        <a href="{% url 'shoppinglist-list' %}">Back</a>
    </div>

    <script>
        let boughtIngredientButtons = document.querySelectorAll(".ingredient-bought");

        boughtIngredientButtons.forEach(button => {
            let clickCounter = 0;

            button.addEventListener("click", function () {
                let listElement = this.closest("tr");

                if (clickCounter % 2 === 0) {
                    listElement.classList.remove("active");
                    listElement.classList.add("bought");
                } else {
                    listElement.classList.remove("bought");
                    listElement.classList.add("active");
                }
                clickCounter += 1;
            });
        });
    </script>
{% endblock %}