{% extends 'base.html' %}

{% block title %} Shopping list details {% endblock %}

{%  block content %}
    <style>
        .active {
            text-decoration: none;
        }

        .bought {
            text-decoration: line-through;
        }
    </style>

    <div class="card">
        <h1 class="mx-auto"> {{ shopping_list.name }}</h1>
        <p class="mx-auto">( {{ shopping_list.creation_date|date:"d.m.Y" }} )</p>
        <h3>Ingredients:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Category</th>
                        <th>Bought</th>
                    </tr>
                </thead>
                <tbody>
                    <td class="font-weight-bold" colspan="6" style="text-align:center; background-color: #F8F0E5">Recipes ingredients</td>
                    {% for ingredient in ingredient_list %}
                        <tr id="ingredient{{ forloop.counter }}" data-list-id="{{ shopping_list.id }}" style="background-color: #F8F0E5">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.get_formatted_quantity }}</td>
                            <td>{{ ingredient.unit }}</td>
                            <td>{{ ingredient.category }}</td>
                            <td>
                                <button class="ingredient-bought btn btn-primary" type="button">X</button>
                            </td>
                        </tr>
                    {% endfor %}
                    <td class="font-weight-bold" colspan="6" style="text-align:center; background-color: #F8F0E5">Other ingredients</td>
                    {% for independent_ingredient in independent_ingredients %}
                        <tr id="ingredient{{ forloop.counter }}" data-list-id="{{ shopping_list.id }}" style="background-color: #F8F0E5">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ independent_ingredient.name }}</td>
                            <td>{{ independent_ingredient.get_formatted_quantity }}</td>
                            <td>{{ independent_ingredient.unit }}</td>
                            <td>{{ independent_ingredient.category }}</td>
                            <td>
                                <button class="ingredient-bought btn btn-primary" type="button">X</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <form method="POST" action="{% url 'shoppinglist-delete' pk=shopping_list.id %}">
            {% csrf_token %}
            <div class="text-center" >
                <input class="btn btn-primary" type="submit" value="Delete shopping list">
            </div>
        </form>
        <div class="text-center" >
            <a class="btn btn-primary" href="{% url 'shoppinglist-list' %}" style="margin-top: 10px">Back</a>
        </div>
    </div>

    <script>
        let boughtIngredientButtons = document.querySelectorAll(".ingredient-bought");

        boughtIngredientButtons.forEach(button => {
            let listElement = button.closest("tr");
            let listElementId = listElement.getAttribute("data-list-id");
            let className = localStorage.getItem(`shoppingList_${listElementId}_${listElement.id}`);

            if (className) {
                listElement.className = className;
            }

            button.addEventListener("click", function () {
                let listElement = this.closest("tr");
                let className = listElement.getAttribute("class");

                if (className === "bought") {
                    listElement.className = "active";
                } else {
                    listElement.className = "bought";
                }

                localStorage.setItem(`shoppingList_${listElementId}_${listElement.id}`, listElement.className);
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            boughtIngredientButtons.forEach(button => {
                let listElement = button.closest("tr");
                let listElementId = listElement.getAttribute("data-list-id");
                let savedClassName = localStorage.getItem(`shoppingList_${listElementId}_${listElement.id}`);

                if (savedClassName) {
                    listElement.className = savedClassName;
                }
            });
        });
    </script>
{% endblock %}